@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);

html, body {
    padding: 0;
    margin: 0;
}
input {
    outline: 0px;
}
button {
    border: 0px solid transparent;
    outline: 0px;
}
* {
    font-family: Josefin Slab, Arial, sans-serif;
    font-weight: 400;
}